<!-- start of partials/header -->
<div class="topbar">
            <div class="about">
                <a href="about.html">
                    about
                </a>
            </div>
            <div class="gallery">
                <a href="index.html">
                    gallery
                </a>
            </div>
            <div class="portfolio">
                <h4>Portfolio webstite</h4>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img src="" alt="P.W.">
                </a>
            </div>
        </div>
<!-- end of partials/header -->