<!-- start of partials/header -->
<div class="topbar">
            <div class="about">
                <a href="/about/">
                    about
                </a>
            </div>
            <div class="gallery">
                <a href="/work/work/">
                    gallery
                </a>
            </div>
            <div class="portfolio">
                <h4>Ian Gambrill</h4>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img src="/img/LOGO.png" alt="I.G.">
                </a>
            </div>
        </div>
<!-- end of partials/header -->