---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="work__layout">
    <div class="aboutbox">
            <div class="bigimg">
                <img src="{{ featured_image | url }}" />
            </div>
            <div class="aboutimg">
                <div class="work__title">
                   <h1> {{ title | upper }}</h1>
                </div>
                <h2>{{ artist_and_date }}</h2>
                <h3>{{ size }}</h3>
                <h5>{{ description }}</h5>
                <div class="multi">
                     {% for image in support_images %}
                        <a href="{{ image | url }}">
                            <img src="{{ image | url }}" />
                        </a>
                    {% endfor %}
                </div>
            </div>
</div>